.my-navbar__link {
  cursor: pointer;
}

.my-navbar__link.ps-2 {
  border-left: 2px solid black;
}

.my-navbar__link,
.my-navbar__brand {
  font-weight: 500;
}

.my-navbar__link:hover {
  text-decoration: underline;
}
